@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Montserrat:wght@400;700&display=swap");

:root {
  --c-light-brown: #f7f3ee;
  --c-medium-brown: #daaa63;
  --c-dark-brown: #2c1810;
  --c-white: #fff;
  --c-grey: #fff;
  --c-off-white: rgba(255, 255, 255, 0.62);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

h1 {
  font-family: "Libre Caslon Text", serif;
  font-weight: normal;
}

body {
  background-color: var(--c-medium-brown);
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: 50px calc(100dvh - 50px - 80px) 80px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background-color: var(--c-light-brown);
  grid-area: header;
}

body > section {
  background-color: var(--c-light-brown);
  /*border-radius: 0 0 50px 50px;*/
  box-shadow: 0 1em 1em -1em rgba(0, 0, 0, 0.25);
}

section.main {
  grid-area: main;
}

section.main > :not(.visible) {
  display: none;
}

footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

footer nav .material-symbols-outlined {
  color: var(--c-off-white);
  font-size: 2rem;
}

footer nav .material-symbols-outlined.active,
footer nav .material-symbols-outlined:hover {
  color: var(--c-white);
  transform: scale(1.2);
}

input {
  border: 0;
  background-color: var(--c-white);
  border-radius: 20px;
  padding: 10px 50px;
}

.main {
  padding: 40px;
  display: grid;
}

.main section {
  visibility: hidden;
}

.main section.visible {
  visibility: visible;
}

.add-book {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.add-book-bto-wrapper {
  align-self: flex-end;
}

button {
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(--c-medium-brown);
}

.add-book-bto {
  color: var(--c-white);
}

.input-wrapper > * {
  width: 100%;
}

.input-wrapper .material-symbols-outlined {
  position: absolute;
  padding: 10px;
  width: min-content;
  color: grey;
}
